/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url('assets/css/fonts/AlteHaasGrotesk.woff2') format("woff2"), /* Preferred format */
       url('assets/css/fonts/AlteHaasGrotesk.woff') format("woff"),
       url('assets/css/fonts/AlteHaasGrotesk.ttf') format("truetype");
       font-display: swap;
  
  /* Add additional font formats as needed for better browser compatibility */
}

@font-face {
  font-family: "TelegrafUltraBold";
  src: url('assets/css/fonts/TelegrafUltraBold.woff2') format("woff2"), /* Preferred format */
       url('assets/css/fonts/TelegrafUltraBold.woff') format("woff"),
       url('assets/css/fonts/TelegrafUltraBold.ttf') format("truetype");
       font-display: swap;
  /* Add additional font formats as needed for better browser compatibility */
}

@font-face {
  font-family: "TelegrafRegular";
  src: url('assets/css/fonts/TelegrafRegular.woff2') format("woff2"), /* Preferred format */
       url('assets/css/fonts/TelegrafRegular.woff') format("woff"),
       url('assets/css/fonts/TelegrafRegular.ttf') format("truetype");
       font-display: swap;
  /* Add additional font formats as needed for better browser compatibility */
}

@font-face {
  font-family: "TelegrafUltraLight";
  src: url('assets/css/fonts/TelegrafUltraLight.woff2') format("woff2"), /* Preferred format */
       url('assets/css/fonts/TelegrafUltraLight.woff') format("woff"),
       url('assets/css/fonts/TelegrafUltraLight.ttf') format("truetype");
       font-display: swap;
  /* Add additional font formats as needed for better browser compatibility */
}


:root {
  /* Color settings */

  /* --color-text: rgb(255, 255, 255);
  --color-text-link: rgba(0,0,255,0.8);
  --color-text-link-hover: rgba(0,0,255,0.4); */
  /* Font settings */
  /* --main-text-size: 18px;
  --large-text-size: 68px;
  --small-text-size: 12px; */
  /* Margins settings */
  /* --margin: 1rem; */
}



/* * {
  scrollbar-width: none;
} */

::-webkit-scrollbar {
  width: 14px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #a9bbcf; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; /* Color of the handle */
  border-radius: 6px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF1200;; /* Darker color when hovered */
}

/* Corner */
::-webkit-scrollbar-corner {
  background: transparent; /* Color of the scrollbar corner */
}

/* Resize grip (only appears in Safari) */
::-webkit-resizer {
  background: #f1f1f1;
}

/* Hide scrollbar track when not interacting */
::-webkit-scrollbar-track-piece {
  background: transparent; /* Hide scrollbar track when not interacting */
}


h11 {
  font-style: italic;
  text-align: center;
}

h10 {
  color: #ffffff;
}


h20 {
  color: #ffffff;
}

h2 {
  font-size: 80px;
  font-family: "AlteHaasGrotesk",sans-serif;

}


html, body {
  /* font-size: clamp( 20px, 2.25vw, 28px);  */

	-webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
}

* {
box-sizing: border-box;
}


body{
  background-color: #a9bbcf; 
  font-size: 14px;
  /* transition: background-color 0.5s ease; Smooth transition */
}



main {
  position: fixed;
  top: 0;
  left: 0;
  height: 110vh;
  overflow: scroll;
  z-index: -1;
}

.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
}


/* menu button *//* menu button *//* menu button */
            #navbar {
                position: fixed;
                top:0;
                right:0;
                width: 50%;
                padding-right: 3%;
                padding-top: 3.5%;
                height: 100vh;
                /* overflow: hidden; */
                z-index: 111111;
                font-family: Helvetica, Arial, sans-serif;
                background: #0055ff;
                line-height: 60%;
                overflow-y: auto;
            }

            #navbar ul {
              list-style-type: none;
            }

            #navbar.is-hidden{
              display:none;
            }
            #navbar.closed {
              background: transparent;
              pointer-events: none;
            }

            #navbar.closed ul { 
              display: none;
            }
            #navbar > a.toggle {
              position: absolute;
              top: 1rem;
              right: 1rem;
              pointer-events: all;
              cursor: pointer;
            }
            #navbar > a.toggle:after {
              content: 'CLOSE';
              font-size: 1.4rem;
              margin: 1px;
              font-family: "AlteHaasGrotesk",sans-serif;
              font-size: 1.2rem;
            
              
            }
            #navbar.closed > a.toggle:after {
              content: 'THANKS TO';
              font-family: "AlteHaasGrotesk",sans-serif;
              font-size: 1.4rem;
              color: black;
              mix-blend-mode: difference;
              background-color: #DDFF00;
              padding: 0.4rem;
            }

            #navbar a {
              /* float: left; */
              /* display:inline; */
              color: #eee9dc;
              text-align: left;
              margin-right: 1rem;
              text-decoration: none;
              background-color: transparent;
              font-family: "AlteHaasGrotesk",sans-serif;
              font-size: 3.8rem;
              line-height: 62px;
              font-weight: 500;
              margin-bottom: 20px;
            }
            #navbar a:hover {
              /* background-color:#eee9dc; */
              color: #ffffff;
            }

            #navbar a.active {
              color:#eee9dc;
            }
/* menu button *//* menu button *//* menu button */

.title{
  font-family: "AlteHaasGrotesk",sans-serif;
  font-size: 12rem;
  text-transform: uppercase;
  color: #c20707;
  background-color: #FF1200;
  height: 100vh;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 100vh;
  line-height: 155px;
  position: relative;
  text-align: left;

}

.space {
  letter-spacing: -1px; /* Adjust this value to increase or decrease space */
}

/* .content {
  padding: 100px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

.sticky + .content {
  padding-top: 60px;
} */

#site-navigation{
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 100%;
}

#site-navigation a:hover {
  color: #ffffff;
}




/* ul{
  color: #c20707;
  display: block;
  list-style-type: disc;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
} */


/* #site-navigation li:nth-of-type(4) a {
  padding-left: 6%;
}
#site-navigation li:nth-of-type(5) a {
  padding-left: 6%;
}
#site-navigation li:nth-of-type(7) a {
  padding-left: 6%;
}
#site-navigation li:nth-of-type(8) a {
  padding-left: 6%;
}
#site-navigation li:nth-of-type(10) a {
  padding-left: 6%;
}
#site-navigation li:nth-of-type(11) a {
  padding-left: 6%;
} */

a:link  { text-decoration: none; color:  #DDFF00; }
a:hover { text-decoration: none; color:  #DDFF00; }
a:visited { text-decoration: none; color:  #DDFF00; }
a:focus { text-decoration: none; color:  #DDFF00; }
a:active { text-decoration: none; color: #DDFF00; }



section.section-text-block{
  margin-left: 1rem;
  margin-right: 1rem;
  position:sticky;
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  height:auto;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 50vh;
  color: #ff0000;
  widows: 3;

}

section.section-text-block.order-reversed{
  flex-direction:row-reverse;
}

section.section-text-block .subsection{
  position:sticky;
  display:block;
  padding-left: 1rem;
  width: 50%;
  /* margin-top:1rem; */
  /* padding:1rem; */
  /* background-color: white; */
}



.subsection-is-main {
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: none;
}

.subsection-is-journal {
  padding-top: 2.8rem;
  padding-right: 1rem;
  width: 85%;
  margin-right: 2rem;
  line-height: 1.5;
  padding-left: 10%;
  font-size: 1.5rem;
  color: #DDFF00;
  top:1rem;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}


.footer {
  margin-bottom: 150px; /* Adjust the value as needed */
}

.container {
  width: 100%; /* Occupy full width by default */
  max-width: 600px; /* Set maximum width */
  margin: 0 auto; /* Center the container */
}


@media (max-width: 600px) {


  .container {
      max-width: 100%; /* Override maximum width to occupy full width */

    }


  .body {
    font-size: min(7vw, 4rem); /* Adjust title font size for smaller screens */
    padding-top: 750px; /* Adjust padding top for smaller screens */
    /* padding-bottom: 50px; Adjust padding bottom for smaller screens */
    
  }

  #site-navigation{
    margin-left: -1rem;
    font-size: 3.5em;
    line-height: 110%;
  }

  #navbar {
    position: fixed;
    height: 100vh; /* Adjust height for smaller screens */
    width: 100%;
    text-align: left;
    font-size: 0.6em;
  
  } 
  
  #navbar a {
    /* float: left; */
    /* display:inline; */
    color: #eee9dc;
    text-align: left;
    margin-right: 1rem;
    text-decoration: none;
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.6em;
    line-height: 38px;
    font-weight: 500;
  }
  
      
    .subsection-is-main {
    max-width: 200vw;
    line-height: 1.5;
    font-size: 0.55em;
    background-color: none;
  }

  section.section-text-block {
    margin-right: 0;
    flex-direction: column;
    position: relative;  
  }

  section.section-text-block.order-reversed {
    flex-direction: column-reverse;
  }

  section.section-text-block .subsection {
    font-size: 16px; /* Adjust subsection font size for smaller screens */
    padding: 1rem;
    box-sizing: border-box;
  }
}




/*

@media (max-width: 298px) { 
  :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 299px) and (max-width: 339px) { 
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 340px) and (max-width: 439px) { 
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 440px) and (max-width: 599px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 600px) and (max-width: 779px) { 
  :root{ --font-size: 19px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 780px) and (max-width: 992px) { 
  :root{ --font-size: 20px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 993px) and (max-width: 1200px) { 
  :root{ --font-size: 22px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1201px) and (max-width: 1319px) { 
  :root{ --font-size: 24px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1320px) and (max-width: 1619px) { 
  :root{ --font-size: 26px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1620px) and (max-width: 1879px) { 
  :root{ --font-size: 28px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1880px) { 
  :root{ --font-size: 30px; } html, body {font: var(--font-size) var(--font-family);}
} */